html {
    display: flex;
    justify-content: center;
}

body {
    width: 500px;
}

p {
    margin: 0;
}

ul {
    list-style-position: inside;
}

div {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#stml_parser_root {
    padding: 0;
}